{% extends "myapp/base.html" %}
{% block title %}My To-Do List{% endblock %}

{% block content %}
<form method="POST" class="task-form">
    {% csrf_token %}
    {{ form.task }}
    <button type="submit">Add</button>
</form>

<table>
    <tr>
        <th>#</th>
        <th>Task</th>
        <th>Completed</th>
        <th>Action</th>
    </tr>
    {% for todo in todos %}
    <tr class="{% if todo.completed %}completed{% endif %}">
        <td>{{ forloop.counter }}</td>
        <td>{{ todo.task }}</td>
        <td>{{ todo.completed|yesno:"Yes,No" }}</td>
        <td>
            <a href="{% url 'toggle_task' todo.id %}">Toggle</a> | 
            <a href="{% url 'delete_task' todo.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4" style="text-align:center;">No tasks yet!</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
